<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button [routerLink]="['']">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Regístrate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input placeholder="Correo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Contraseña"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Contraseña"></ion-input>
  </ion-item>
  <p align="bottom">
    <ion-button expand="block" (click)="onRegistrarse()">Registrarse</ion-button>
  </p>
</ion-content>
